html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
 
  
   
}
/*/////////////////
//  GENERAL STYLES
/////////////////////
////////////////////*/
html, body{
    height: 100%;
    width: 100%;
    display: block;
}

header{
    background-color: #3B8EA5;
    padding: 5%;
}

h1{
    font-size: 40px;
    font-family: serif;
    width: 100%;
    text-align: center;
    padding-top: 5%;
}

main{
    background-color: #F5EE9E;

    padding:2%;
    
}

nav {
  background-color: #AB3428;
  padding: 2%;
}

nav a{

  text-decoration: none;
  color:black;
  font-size: 1.5em;

}

nav a:hover{

  text-decoration: none;
  color:darkgrey;
  font-size: 1.5em;

}

#mainBody{

  visibility: hidden;
}

article{

    padding: 2%;

}

footer{
    
    background-color: #AB3428;
    padding:2%;

}

div{
    padding:0.5%;
    
    
}

/*/////////////////
//  TABLE STYLES
/////////////////////
////////////////////*/


table,thead,tbody,tr,td{
    border: 1px solid black;
}

tr{
    background-color: white;
}
#charForm {
    margin-left: 30%;
    padding-top: 3%;
}

#skillTable {
    float:left;
   width: 60%;
}

td{
    padding: 1%;
}

#skillTable td input[type="text"]{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

 

#txtBoxHold {
    float: left;
}
#btmForm{
    clear:both;
}
#equipment {
    width: 70%;
    height: 50%;
  
    overflow: auto;
}
#txtAreaClassTraits{
    width: 99%;
    clear:both;
}
#txtAreaTraits{
    clear :left;
    height: 100%;
}



/*/////////////////
//  article 2 styles
/////////////////////
////////////////////*/

#article{
    width: 100%;
    height: 100%;
    
}
#article2{
    border-top:1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 100%;
}

 
 #showBox{
    display:flex;
    flex-direction:row;
}
#leftBox{
    width: 100%;
    height: 100%;

}
#showCase{
    width: 100%;
    height: 100%;
}
.classPic{

    width: 250px;
    height: 400px;
}

#centerBox{
    height: 100%;
    width:100%;
    display:flex;
    flex-direction:column;

    
}
#centerHold{
 contain: content;
 height: 90%;
 width:98%;
    
 
}

#canvasHold{
    height: 90%;
    width:98%;
 
}

#graphBtnDiv{
    clear: both;
    height:30%;
    width:98%;
 
}
#emotionChoice{
    height: 50%;
    width:98%;
    float:left;

}

#graphBtn{
    height: 50%;
    width:98%;
    clear:left;
}

#myChart{
    height: 100%;
    width:  100%;
}

#pictureChoice{
  height: 80%;
  width: 100%;
}

.rightClassPic{
  height: 100%;
  width:100%;
}
/*/////////////////
//  MODAL STYLES
/////////////////////
////////////////////*/
.modal {
    padding: 2%;
    border: 2px solid black;
    background-color: ivory;
    overflow: hidden;   
    width: 40%;
    height:auto;
    margin-left: 30%;
  }

  #close{
    margin-left: 50%;
  }


  /*/////////////////
//  CHAR FORM STYLES
/////////////////////
////////////////////*/

  #btnDiv{
    clear:both;
  }

  #equipBtn{
    margin: 1%;

  }

  #charTable{
    width: 100%;
    overflow-y:auto;
  }

  #charTable button{
    width: 100%;
     
  }

  h2,h3,p{
    width: 100%;
    text-align: center;
  }

  #showBox{
    height: 400px;
  }

  label,input [type="text"]{
    display:flex;
    flex-direction:column;
  }

  #nameDiv,#hpDiv,#raceSelDiv,#classSelDiv,#speedDiv,#sizeDiv,#statBlock>div{
    float:left;
  }

  #raceClassDiv,#speedSizeDiv,#statBlock,#skillBlock{
    clear:both;
  }

#statBlock>div{
    width: 9%;
} 

#statBlock>div>input{
    width: 50%;
}

  .stat{
    width: 5%;
    height: 5%;
}




/*/////////////////
//   #equipmentTable STYLES
/////////////////////
////////////////////*/
  #equipmentTable,#viewEquipmentTable {
    width: 100%;
   
}
  #equipmentTable td input,#viewEquipmentTable td input{
    width: 100%;
    box-sizing: border-box;
  }

/*/////////////////
//  BUtTON STYLES
/////////////////////
////////////////////*/
  button, input[type="reset"], input[type="submit"] {
    padding: 1%;
    border-radius: 8px;
  }

  button:hover, input[type="reset"]:hover, input[type="submit"]:hover  {
    background-color: darkgrey;
  }

  #dirBtn{
    margin: 1%;
  }

  .delBtn, .viewBtn{
    margin:1%;
  }
/*/////////////////
//  article 3 STYLES
/////////////////////
////////////////////*/
#article3{
    clear:both;
}

#mapDiv{
    height: 400px;
    width: 100%;
}
